
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>BWFUIFramework</title>
		<link rel="stylesheet" href="${rc.contextPath}/css/bootstrap.min.css" />
		<link rel="stylesheet" href="${rc.contextPath}/css/animate.min.css" />
		<script type="text/javascript" src="${rc.contextPath}/js/jquery.min.js" ></script>
		<script type="text/javascript" src="${rc.contextPath}/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="${rc.contextPath}/js/wow.js" ></script>
		<link rel="stylesheet" href="${rc.contextPath}/css/global.css" />
		<script type="text/javascript" src="${rc.contextPath}/js/global.js" ></script>
		<script type="text/javascript">
				$(function(){
					$(".addDepartment").click(function(){
							location.href="${rc.contextPath}/department/add";
					});
					
					$(".departmentEdit").click(function(){
							location.href="${rc.contextPath}/department/edit?departmentId="+$(this).val();
					});
					
					$(".departmentDelete").click(function(){
							 var bln = confirm("确定删除吗?"); 
							 console.log(bln);
							 if(bln){
								location.href="${rc.contextPath}/department/delete?departmentId="+$(this).val();
							}
					});
					
					$(".departmentDetail").click(function(){
							location.href="${rc.contextPath}/department/detail?departmentId="+$(this).val();
					});
					
				});
		</script>
	</head>
	<body>
			
			<form action="" method="get" role="form">
			
			<div class="panel panel-default">
				<div class="panel-heading">
					
					部门管理
					<div class="btn-group btn-group-sm pull-right">
					<!--  <button type="button" class="btn btn-default">
						<img src="${rc.contextPath}/img/7.png" height="16px"/>
						&nbsp;&nbsp;批量删除
					</button>-->
					<button type="button" class="btn btn-default  addDepartment">
						<img src="${rc.contextPath}/img/plus.png" height="16px"/>
						&nbsp;&nbsp;添加部门
					</button>
					</div>
				</div>
				
				<div class="panel-body">
					
						<table class="table table-bordered table-condensed table-hover table-responsive cbx-group">
							<thead>
								<tr>
									<th class="td-checkbox"><input type="checkbox" class="cbx-all"/></th>
									<th>部门编号</th>
									<th>部门名称</th>
									<th>部门领导</th>	
									<th>操作选项</th>
								</tr>
							</thead>
							<tbody>
								
								<#list allDepartment as department>
								<tr>
									<td align="center" class="td-checkbox"><input type="checkbox" name="id"/></td>
									<td>${department.departmentId}</td>
									<td>${department.departmentName}</td>
									<td>${department.leader.nickname}</td>
									<td width="120px">
										<span class="btn-group btn-group-xs  " >
											<button type="button" class="btn btn-default departmentDetail" value="${department.departmentId}">查看</button>
											<button type="button" class="btn btn-default departmentEdit" value="${department.departmentId}">编辑</button>
											<button type="button" class="btn btn-danger departmentDelete" value="${department.departmentId}">删除</button>
										</span>
									</td>
								</tr>
								</#list>
								
							</tbody>
							<tfoot>
								
							</tfoot>
						</table>
						
					
				</div>
			</div>
			
		</form>
		<div style="height: 80px;"></div>
	</body>
</html>

